<div class="flex items-center justify-between p-5 bg-white shadow-lg dark:bg-gray-600 dark:text-slate-200 text-slate-700 hover:text-slate-800">
  <a routerLink="/" class="text-2xl font-semibold tracking-wide md:text-3xl">
    {{ title }}
  </a>

  <div class="hidden gap-8 md:flex">
    <nav class="flex items-center gap-8 text-xl">
      <app-navbar-link
        *ngFor="let link of links"
        [href]="link.href"
        [label]="link.label"
        [isExternal]="link.isExternal"
      ></app-navbar-link>
    </nav>

    <app-dark-mode-toggler-icon
      [isDarkModeEnabled]="isDarkModeEnabled"
      (onToggleDarkMode)="onToggleDarkMode.emit()"
    ></app-dark-mode-toggler-icon>
  </div>

  <i
    class="visible text-2xl md:hidden bi bi-list"
    (click)="onBurgerMenuClicked.emit()"
  ></i>
</div>
