<div class="flex items-center justify-between p-5 bg-white shadow-lg">
  <a routerLink="/" class="text-2xl font-semibold tracking-wide md:text-3xl">
    {{ title }}
  </a>

  <nav class="items-center hidden gap-8 text-xl md:flex">
    <app-navbar-link
      *ngFor="let link of links"
      [href]="link.href"
      [label]="link.label"
      [isExternal]="link.isExternal"
    ></app-navbar-link>

    <app-dark-mode-toggler-icon
      (onToggleDarkMode)="onToggleDarkMode.emit()"
    ></app-dark-mode-toggler-icon>
  </nav>

  <i
    class="visible text-2xl md:hidden bi bi-list"
    (click)="onBurgerMenuClicked.emit()"
  ></i>
</div>
