<div class="space-y-8 page-container">
  <h1 class="text-2xl font-semibold md:text-4xl">Mes projets</h1>

  <p class="md:text-lg">
    Durant mon temps libre, j'ai eu l'occasion de travailler sur quelques
    projets qui me tenaient à cœur, que ce soit dans un but ludique, pédagogique
    ou simplement par curiosité.
  </p>

  <p class="md:text-lg">
    Mes principaux projets sont listés ci-dessous. Pour une liste exhaustive,
    n'hésitez pas à consulter
    <a class="underline text-sky-500" href="https://github.com/pbouillon"
      >mon profil GitHub</a
    >.
  </p>

  <div class="grid grid-cols-1 gap-8 pb-5 auto-rows-max lg:grid-cols-2">
    <app-card
      *ngFor="let project of projects"
      [title]="project.name"
      [description]="project.description"
      [targetUrl]="project.link"
      [tags]="project.technologies"
    >
    </app-card>
  </div>
</div>
