<div class="page-container">
  <h1 class="text-2xl font-semibold md:text-4xl">Mes projets</h1>

  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus, molestias
    modi. Eligendi, ea? Quia totam delectus, dolorem placeat non quo quis
    exercitationem. Eum rem iusto quam nulla dicta amet perferendis.
  </p>

  <div class="grid grid-cols-1 gap-4 pb-5 auto-rows-max md:grid-cols-2">
    <app-project-card *ngFor="let project of projects" [summary]="project">
    </app-project-card>
  </div>
</div>
