<div class="flex flex-col min-h-screen dark:bg-gray-600">
  <app-navbar
    title="Pierre Bouillon"
    [links]="links"
    [isDarkModeEnabled]="isDarkModeEnabled"
    (onBurgerMenuClicked)="showMobileNavbar = true"
    (onToggleDarkMode)="toggleDarkMode()"
  ></app-navbar>

  <app-navbar-block
    *ngIf="showMobileNavbar"
    [links]="links"
    [isDarkModeEnabled]="isDarkModeEnabled"
    (onCloseRequested)="showMobileNavbar = false"
    (onToggleDarkMode)="toggleDarkMode()"
  ></app-navbar-block>

  <main class="flex flex-grow">
    <router-outlet></router-outlet>
  </main>
</div>
