<div class="flex items-center justify-between">
  <label class="text-lg tracking-wide" for="theme"> Thème </label>

  <div
    class="relative flex items-center p-2 text-base rounded-lg shadow-sm ring-1 ring-gray-400 dark:bg-gray-600 dark:text-gray-200 dark:border-gray-200"
  >
    <span class="flex gap-3 px-2">
      <i
        class="bi"
        [ngClass]="isDarkModeEnabled ? 'bi-moon-stars' : 'bi-sun'"
      ></i>
      {{ isDarkModeEnabled ? 'Sombre' : 'Clair' }}
      <i class="bi bi-chevron-down"></i>
    </span>

    <select
      id="theme"
      class="absolute inset-0 w-full h-full opacity-0 appearance-none dark:bg-gray-600 dark:text-gray-200"
      [value]="isDarkModeEnabled ? 'dark' : 'light'"
      (change)="onThemeSelected($event)"
    >
      <option value="light">Clair</option>
      <option value="dark">Sombre</option>
    </select>
  </div>
</div>
