<div class="mb-5 space-y-8 page-container">
  <h1 class="text-2xl font-semibold md:text-4xl">Blog</h1>

  <p class="md:text-lg">
    Je publie occasionnellement sur
    <a
      class="underline text-sky-500"
      href="https://dev.to/pbouillon"
      >DEV.to</a
    >
    sur divers sujets que ce soit lorsque je découvre une technologie, lorsque
    je créé un projet ou simplement pour un retour d'expérience.
  </p>

  <h2 class="text-xl font-semibold text-center md:text-2xl">
    Mes dernières publications
  </h2>

  <div
    *ngIf="articles$ | async as articles; else loading"
    class="flex flex-col items-center gap-5"
  >
    <app-card
      *ngFor="let article of articles"
      [title]="article.title"
      [description]="article.description"
      [targetUrl]="article.url"
      [tags]="article.tags"
    >
    </app-card>
  </div>

  <ng-template #loading>
    <div>
      <app-card-placeholder></app-card-placeholder>
    </div>
  </ng-template>
</div>
