<div class="mb-5 space-y-8 page-container">
  <h1 class="text-2xl font-semibold md:text-4xl">Blog</h1>

  <p>
    Je publie occasionnellement sur
    <a
      class="underline text-sky-500"
      href="https://dev.to/pbouillon"
      target="_blank"
      >DEV.to</a
    >
    sur les divers sujets que ce soit lorsque je découvre une technologie,
    lorsque je créé un projet ou simplement pour un retour d'expérience.
  </p>

  <h2 class="text-xl font-semibold md:text-2xl">Dernières publications</h2>

  <div class="flex flex-col items-center gap-5">
    <app-article-card
      *ngFor="let article of articles$ | async"
      [article]="article"
    ></app-article-card>
  </div>
</div>
