<div class="mt-40 mb-16 dark:text-gray-200">
  <app-page-title
    title="Pierre Bouillon"
    subtitle="Ingénieur logiciel Full Stack"
  ></app-page-title>
</div>

<div
  class="flex justify-center gap-4 text-4xl text-gray-800 md:gap-8 md:text-5xl dark:text-gray-200"
>
  <a
    title="LinkedIn"
    class="hover:scale-110"
    target="_blank"
    href="https://www.linkedin.com/in/pierre-bouillon"
  >
    <i class="bi bi-linkedin"></i>
  </a>

  <a
    title="GitHub"
    class="hover:scale-110"
    target="_blank"
    href="https://github.com/pbouillon"
  >
    <i class="bi bi-github"></i>
  </a>

  <a
    title="Telegram"
    class="hover:scale-110"
    target="_blank"
    href="https://t.me/pbouillon"
  >
    <i class="bi bi-telegram"></i>
  </a>
</div>
