<div class="flex flex-col justify-center h-screen gap-8 md:gap-16 item-center">
  <div class="text-slate-700 dark:text-slate-200">
    <div class="space-y-2">
      <h1 class="text-4xl font-semibold tracking-tight text-center md:text-6xl">
        Pierre Bouillon
      </h1>

      <h2 class="text-lg font-semibold tracking-wide text-center md:text-2xl">
        Ingénieur logiciel Full Stack
      </h2>
    </div>
  </div>

  <div
    class="flex justify-center gap-4 text-4xl text-slate-700 md:gap-8 md:text-5xl dark:text-gray-200"
  >
    <a
      title="LinkedIn"
      class="hover:scale-110"
      href="https://www.linkedin.com/in/pierre-bouillon"
    >
      <i class="bi bi-linkedin"></i>
    </a>

    <a
      title="GitHub"
      class="hover:scale-110"
      href="https://github.com/pbouillon"
    >
      <i class="bi bi-github"></i>
    </a>

    <a title="CV" class="hover:scale-110" href="assets/resumes/CV.pdf">
      <i class="bi bi-file-earmark-text"></i>
    </a>
  </div>
</div>
