@import url(https://fonts.bunny.net/css?family=montserrat:300,500,700,800);

@import 'bootstrap-icons';

@import 'tailwindcss';

@import './styles/deep-blue.theme.css';

html {
  background-color: var(--background);
  font-family: 'Montserrat', sans-serif;
}

.theme-transitioning * {
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease,
    box-shadow 0.3s ease !important;
}
