@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, sans-serif;
  font-feature-settings:
    "liga" 1,
    "calt" 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

.external-link {
  @apply relative inline-block w-fit font-semibold after:absolute after:block after:h-[2px] after:w-full after:origin-left after:scale-x-0 after:bg-teal-400 after:transition after:duration-300 after:content-[''] after:hover:scale-x-100;
}
