<div class="fixed inset-0 z-50">
  <div
    class="fixed inset-0 bg-black/20 backdrop-blur"
    (click)="onCloseRequested.emit()"
  ></div>

  <div class="fixed w-full max-w-xs p-6 bg-white rounded-lg shadow-lg top-4 right-4">
    <div class="absolute top-5 right-5">
      <button type="button" (click)="onCloseRequested.emit()">
        <i class="text-xl text-gray-400 bi bi-x-lg"></i>
      </button>
    </div>

    <nav class="flex flex-col gap-2 text-lg">
      <app-navbar-link
        *ngFor="let link of links"
        [href]="link.href"
        [label]="link.label"
        [isExternal]="link.isExternal"
      ></app-navbar-link>
    </nav>
  </div>
</div>
