<div class="space-y-8 page-container">
  <section class="space-y-8">
    <h1 class="text-2xl font-semibold md:text-4xl">Qui suis-je ?</h1>

    <p class="font-semibold md:text-lg">
      Bonjour ! Je m'appelle Pierre Bouillon, je suis un ingénieur logiciel full
      stack passionné d'informatique et curieux de tout.
    </p>

    <p>
      Principalement centré autour du développement d'applications web que je
      réalise en .NET / Angular, je suis également intéressé par l'architecture
      logicielle, l'IoT et l'event-sourcing.
    </p>

    <p>
      J'interviens également en tant que chargé d'enseignement vacataire pour
      <a
        class="underline text-sky-500"
        href="https://telecomnancy.univ-lorraine.fr/"
        >TELECOM Nancy</a
      >
      depuis 2020, où j'initie les étudiants aux pratiques agiles et à Scrum.
    </p>

    <p>
      Durant mon temps libre, je suis le plus souvent en train de partager aux
      autres ce que j'ai pu apprendre, de parcourir la ville en roller ou bien
      de travailler sur des projets personnels.
    </p>

    <p>
      Pour plus d'informations, n'hésitez pas à consulter
      <a class="underline text-sky-500" href="assets/resumes/CV.pdf">mon CV</a>
      ou
      <a class="underline text-sky-500" href="https://github.com/pbouillon"
        >mon profil GitHub</a
      >.
    </p>
  </section>

  <section class="pb-5 space-y-8">
    <h2 class="text-2xl font-semibold md:text-4xl">Bénévolat</h2>

    <p>
      Au cours de mes études et de mon expérience professionnelle, j'ai pu
      participer à divers événements, en voici quelques-uns par ordre
      chronologique.
    </p>

    <ul class="max-w-2xl px-5 space-y-5 list-disc">
      <li>
        Intervenant lors d'atelier sur la préparation aux entretiens techniques
        pour les élèves de deuxième année de
        <a
          class="underline text-sky-500"
          href="https://telecomnancy.univ-lorraine.fr/"
          >TELECOM Nancy</a
        >
        dans le cadre de la Formation à la Recherche d'Emploi organisée par
        <a
          class="underline text-sky-500"
          href="https://www.linkedin.com/company/alis%C3%A9---association-des-anciens-el%C3%A8ves-alumnis-de-telecom-nancy/"
          >Alisé</a
        >
      </li>
      <li>
        Vainqueur des éditions 2020 et 2021 de la
        <a class="underline text-sky-500" href="https://bourse.coddity.com/"
          >Bourse Coddity</a
        >
      </li>
      <li>
        Animation d'ateliers de découverte de l'informatique et de la
        programmation pour les élèves de primaire en 2020 à l'occasion de
        <a
          class="underline text-sky-500"
          href="https://telecomnancy.univ-lorraine.fr/formation/projets-et-plateformes-formation/"
          >Prog4Kids</a
        >
      </li>
      <li>
        Organisateur d'un hub pour la
        <a
          class="underline text-sky-500"
          href="https://hacktoberfest.digitalocean.com/"
          >Hacktoberfest</a
        >
        à
        <a
          class="underline text-sky-500"
          href="https://telecomnancy.univ-lorraine.fr/"
          >TELECOM Nancy</a
        >
        en 2019 et 2020 (gestion des bénévoles, des planning, de la
        communication et de la logistique)
      </li>
      <li>
        Bénévole pour la
        <a class="underline text-sky-500" href="https://www.ubuntu-paris.org/"
          >Ubuntu Party</a
        >
        de 2015 à 2018 (logistique et accueil)
      </li>
      <li>
        Bénévole pour les
        <a
          class="underline text-sky-500"
          href="https://fr.wikipedia.org/wiki/Rencontres_mondiales_du_logiciel_libre"
          >Rencontres Mondiales du Logiciel Libre</a
        >
        de Montpellier en 2014
      </li>
      (logistique et accueil)
    </ul>
  </section>
</div>
