<div class="page-container">
  <section class="space-y-8">
    <h1 class="text-2xl font-semibold md:text-4xl">Qui suis-je ?</h1>

    <p class="font-semibold md:text-lg">
      Bonjour ! Je m'appelle Pierre Bouillon, je suis un ingénieur logiciel full
      stack passionné d'informatique et curieux de tout.
    </p>

    <p>
      Principalement centré autour du développement d'applications web que je
      réalise en .NET / Angular, je suis également intéressé par l'architecture
      logicielle, l'IoT et l'event-sourcing.
    </p>

    <p>
      J'interviens également en tant que chargé d'enseignement vacataire pour
      <a
        class="underline text-sky-500"
        href="https://telecomnancy.univ-lorraine.fr/"
        target="_blank"
      >TELECOM Nancy</a>
      depuis 2020, où j'initie les étudiants aux pratiques agiles et à Scrum.
    </p>

    <p>
      Durant mon temps libre, je suis le plus souvent en train de partager aux
      autres ce que j'ai pu apprendre, de parcourir la ville en roller ou bien
      de travailler sur des projets personnels.
    </p>

    <p>
      Pour plus d'informations, n'hésitez pas à consulter
      <a
        class="underline text-sky-500"
        href="assets/resumes/CV.pdf"
        target="_blank"
        >mon CV</a>
      ou
      <a
        class="underline text-sky-500"
        href="https://github.com/pbouillon"
        target="_blank"
        >mon profil GitHub</a>.
    </p>
  </section>
</div>
